<div class="dashboard-container">
    <h1>{{ projectTitle }}</h1>
  
    <mat-tab-group>
      <mat-tab label="Environment Specification">
        <div class="tab-content">Environment Specification Content Here</div>
      </mat-tab>
      <mat-tab label="System Specification">
        <div class="tab-content">
          System Specification Content Here
          <app-system-spec></app-system-spec>
        </div>
      </mat-tab>
      <mat-tab label="Safety Property">
        <div class="tab-content">Safety Property Content Here</div>
      </mat-tab>
      <mat-tab label="Configuration">
        <div class="tab-content">Configuration Content Here</div>
      </mat-tab>
      <mat-tab label="Robustification">
        <div class="tab-content">Robustification Content Here</div>
      </mat-tab>
      <mat-tab label="Reports">
        <div class="tab-content">Reports Content Here</div>
      </mat-tab>
    </mat-tab-group>
  </div>
  